@{
    ViewBag.Title = "About Me";
}

<div id="wrap">	

<div id="sidebar">


				<!-- If browser does not support border radius, show this message -->
				<p class="message">Your browser does not support the border-radius property!</p>
				<div class="section">
					<div class="normal-trigger-area">
						<a href="#" id="circle" class="ec-circle">
							<h3>Jelson</h3>
						</a>
					</div>			
				</div>


<br /><br /><br />
		
@*<h2>Technical Skills</h2>*@

	<div id="navlist2">  

<h2>Awesome</h2>
<br />
<img src="@Url.Content("~/Content/images/html-5.png")" width="280" height="450" alt="pat" />

<br /><br />
<h2>Browsers</h2>
<img src="@Url.Content("~/Content/images/browser.png")" alt="" width="280" height="200"/>     
 

 </div>

</div>

<img class="headerimage" src="@Url.Content("~/Content/images/bunner90.gif")" alt="" width="700" height="200"/>	
	
<div id="content">
		<div class="post">
			<div class="postintro">Sep 10<br />2012</div>

            <h2>My Goal</h2>
    
            <p>My big desire is for every website I develop or designg to be better than last.</p>

			<h2>About the Author</h2>
			<p>Hi, my name is Jelson J, I am a Web Developer & Designer I live in Leeds (UK). 
             I recently graduated from University of Huddersfield (UK) in 2012, and received a 
             honours degree, in (BSc) Information Communication Technology which I feel is one of the 
             greatest achievement of my life so far..                     
             </p>
			        
            <p>I am passionate about Web Developer & Designer I spend much of my spare 
             time learning and obsessing about the latest web technologies. I think it’s 
             important to love doing what you do, so the passion will continue 
              to motivate and improve yourself.</p>


<p>Microsoft is my preference in development tools: Why? 

Microsoft is better offer than anyone when it comes to developer tools. 
From Visual Studio to the Internet Information Services (IIS), SQL Serve, 
ASP.NET, .NET Framework, languages C#, VB.NET down to the HTML, HTML5 and CSS these are all products my current weapons
that are very well managed and there are plenty of developers on the market that can use them. </p>


<h2>Key Skills and Competencies</h2>

	<div id="navlist1">  
        <ul>
            
            <li>Front-End ASP.NET, .NET</li>
            <li>Front-End & Back-End C#, VB.NET, SQL Server</li>
            <li>Front-End Development (XHTML, HTML5, CSS)</li>	
            <li>JQuery, JavaScript, AJAX</li>  
            <li>Front-End Design (Adobe Photoshop, Adobe Illustator, Adobe Fireworks)</li>
            <li>MVC2, MVC3, Web Applications </li>         
</ul>

<h2>Ability Rated</h2>

<div class="skills">
					               
<span>
<span class="asp">ASP.NET</span>
<span class="c">C#</span>
<span class="css">CSS</span>
<span class="jq">JavaScript</span>
<span class="html">HTML5</span>
<span class="mvc">MVC3</span>
<span class="sql">SQL Server</span>
@*<span class="c">VB.NET</span>*@
</span>
</div>	
	
<div id="diagram"></div>
</div>

		<div class="get">
        	<div class="arc">
				<span class="text">ASP.NET</span>
				<input type="hidden" class="percent" value="75" />
				<input type="hidden" class="color" value="#000000" />
			</div>
            <div class="arc">
				<span class="text">C#</span>
				<input type="hidden" class="percent" value="65" />
				<input type="hidden" class="color" value="#9932CC" />
			</div>
            <div class="arc">
				<span class="text">CSS</span>
				<input type="hidden" class="percent" value="95" />
				<input type="hidden" class="color" value="#D84F5F" />
			</div>

			<div class="arc">
				<span class="text">JavaScript</span>
				<input type="hidden" class="percent" value="55" />
				<input type="hidden" class="color" value="#97BE0D" />
			</div>

			<div class="arc">
				<span class="text">HTML5</span>
				<input type="hidden" class="percent" value="80" />
				<input type="hidden" class="color" value="#88B8E6" />
			</div>

            <div class="arc">
				<span class="text">MVC3</span>
				<input type="hidden" class="percent" value="85" />
				<input type="hidden" class="color" value="#FF00FF" />
			</div>

			<div class="arc">
				<span class="text">SQL Server</span>
				<input type="hidden" class="percent" value="65" />
				<input type="hidden" class="color" value="#00FFFF" />
			</div>

@*           <div class="arc">
				<span class="text">VB.NET</span>
				<input type="hidden" class="percent" value="65" />
				<input type="hidden" class="color" value="#00FFFF" />
			</div>*@


			</div>
		
<h2>Expertise</h2>
           
<div class="navlist">   
<ul>
           
<li>Clean XHTML And CSS Markup</li>	
<li>High-quality front and back-end development for web sites.</li>
<li>Performance optimisation, usability, and accessibility.</li>
<li>Site planning and architecture.</li>
<li>User interface design.</li>  
            
</ul>
</div>

<h2>Education</h2>


<p>My time at university was a very much positive time in my life, and 
allowed me to improve upon my existing development and design abilities, 
in addition to learning project planning, management and research others
techniques.  Between the modules studied, I particularly enjoyed:</p>

<strong>Object Oriented Programming:</strong>   
<p>Which taught the fundamentals of (OOP), and allowed me to vastly 
improve my C#, VB.NET development abilities.</p>

<strong>Publishing on the Web:</strong> 
<p>Which covered a range of Web publishing mediums, such as 
social networking sites, search engines, and how to use them effectively.</p>

<strong>Qualitative Interface Evaluation:</strong>  
<p>Which covered interface prototype, usability, design and evaluation, allowing
 for the creation of sites that are both attractive and easy to be use.</p>

<strong>Web Design:</strong> 
<p>Which covered CSS, HTML5 and XHTML techniques, in addition to 
Web standards and cross browser compatibility, allowing for 
maximum Web exposure.</p>

<br />

<div class="navlist">  
<ul>
<strong>Leeds City College – (United Kingdom) 2013 – 2013</strong>
<li>Certificate of Achievement Adobe Photoshop, Illustrator and Firework Combination</li>

<strong>University of Huddersfield – (United Kingdom) 2009 – 2012</strong>
<li>Degree: (BSc) in Information Communication Technology</li>

<strong>Cisco Leeds City College of Technology – (United Kingdom) 2007 – 2008</strong>     
<li>Certificate CCNA1 (Exploration Network Fundamentals), Discovery-1 (Networking for Home and Small Businesses).</li>  
         
<strong>Cisco Leeds City College of Technology – (United Kingdom) 2006 – 2006</strong> 
<li>Certificate OCR Level 2 for I.T Practitioners (ICT Systems Support) I.T
Essentials1, 2   PC Hardware and Software-Network Operating Systems</li>

</ul>
            
</div>


<p id="back-top">
<a href="#top"><span></span>Back to Top</a>
</p>


</div>
</div>	
</div>




<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>

<script src="@Url.Content("~/js/jquery.circlemouse.js")" type="text/javascript"></script>

<!-- ********************************Circlemouse************************** -->

		 <script type="text/javascript">
		     $(function () {

		         $('#circle').circlemouse({
		             onMouseEnter: function (el) {

		                 el.addClass('ec-circle-hover');

		             },
		             onMouseLeave: function (el) {

		                 el.removeClass('ec-circle-hover');

		             },
		             onClick: function (el) {

		                 alert('clicked');

		             }
		         });

		     });
        </script>