@{
    ViewBag.Title = "Clock";
}



<div id="wrap">		
	
<h1 class="flayer">Role: Graphic Design</h1>

<div id="content">
		<div class="post">
          
<h2>Clock</h2>


<a href="@Url.Content("~/Content/photo/3.png")" rel="lightbox-group1" title="Double click for full size... (unless you have a large monitor)"><img class="headerimage1" src="@Url.Content("~/Content/photo/3.png")" alt="" /></a>
<a href="@Url.Content("~/Content/photo/8.png")" rel="lightbox-group1"></a>

<div id="sidebar1">

<strong>Description:</strong>
<span>This Clock was designed during the time I was taken the
Illustrator, Photoshop and Firework course at Leeds City College of Technology.</span>
<br /><br />
            
<strong>Skills used:</strong>

<span>Illustrator, Photoshop</span>

<br /><br />

@*<h2>Share this:</h2>

<span>Tel:00447840398213</span>
<br />
<span>jelson20@outlook.com</span>
 *@
</div>
<br /><br />

@*<h2>Similar work.</h2>*@

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>
</p>

</div>
</div>	
</div>