@{
    ViewBag.Title = "Entel";
}

<div id="wrap">		
	
<h1 class="flayer">Role: Graphic Design</h1>

<div id="content">
		<div class="post">
          
<h2>Antelope</h2>


<a href="@Url.Content("~/Content/photo/entel.png")" rel="lightbox-group1" title="Double click for full size... (unless you have a large monitor)"><img class="headerimage1" src="@Url.Content("~/Content/photo/entel.png")" alt="" /></a>


<div id="sidebar1">

<strong>Description:</strong>
<span>This logo was designed during the time I was taken the
Illustrator, Firework and Firework course at Leeds City College of Technology.</span>
<br /><br />
            
<strong>Skills used:</strong>

<span>Firework</span>

<br /><br />


</div>
<br /><br />

@*<h2>Similar work.</h2>*@

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>
</p>

</div>
</div>	
</div>