@{
    ViewBag.Title = "FlyerEntelope";
}

<div id="wrap">		
	
<h1 class="flayer">Role: Flyer Design</h1>

<div id="content">
		<div class="post">
          
<h2>Antelope</h2>



<a href="@Url.Content("~/Content/photo/2.png")" rel="lightbox-group1" title="Double click for full size... (unless you have a large monitor)"><img class="headerimage1" src="@Url.Content("~/Content/photo/2.png")" alt="" /></a>

@*<a href="@Url.Content("~/Content/photo/8.png")" rel="lightbox-group1"></a>*@


<div id="sidebar1">
<strong>Description:</strong>
<span>This flyer was designed for the Antelope Enterprise to show 
the historical and the Objectives of company.
<br />
            
To help and increase educational level of the people in developing countries
through providing information which regarding History, Agriculture, Minerals,
economics, Technology, geography and politics.</span>

<br /><br />

<strong>Skills used:</strong>

<span>Photoshop</span>


@*<h2>Share this:</h2>

<span>Tel:00447840398213</span>
<br />
<span>jelson20@outlook.com</span>
 *@
</div>
<br /><br />

@*<h2>Similar work.</h2>*@


<p id="back-top">
<a href="#top"><span></span>Back to Top</a>
</p>

</div>
</div>	
</div>